img {
  height: 150px;
}

.descirption {
  font-size:20px;
}

#cook-time {
  font-weight: bold;
}

.igredients, li {
  list-style: square;
}

p.time{
  color: gray;
}

p.citation .external-link {
  color: seaGreen;
}

h1, h2, p, li {
  font-family: Helvetica;
}
